<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your jungle order # <%= @order.id %></h1>
    <h1>Your order total is $ <%= @order.total_cents / 100.0  %> </h1>
  <div class="panel panel-default">
    <table class="table table-bordered">
      <thead>
        <tr>
        <th>Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |line_item| %>
          <%= render 'item', line_item: line_item %>
        <% end %>
      </tbody>
    </table>
  </div>
    <p>Have a great day!</p>
  </body>
</html>