// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.shop-button{
  margin: 20px;
}

.home-button {
  margin-top: 10px;
}

.review-form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.review-error{
  color: red;
}

.login-button {
  margin-top: 6px;
}

.signup-button{
  margin-top: 6px;
}

.logout-button{
  margin-top: 6px;
}

.login-info{
  margin-top: 6px;
  color: white;
}

.navbar-default{
  background-color: #6b7e9b;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

h3{
  margin-top: 5px;
}